@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.flip-card {
  @apply flex mb-40 bg-transparent w-44 h-44;
  perspective: 1000px; /*3D Effect */
}

.flip-card-inner {
  @apply relative w-full text-center transition-transform transform-cpu duration-700;
  animation: flipCard 2s;
  animation-fill-mode: forwards;
  transform-style: preserve-3d;
}

.flip-card-action {
  transform: rotateY(-180deg);
}

.flip-card-front,
.flip-card-back {
  @apply absolute w-full h-full;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(-180deg);
}

@keyframes flipCard {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(-180deg);
  }
}
